<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ApiUrl" value="https://api.smartystreets.com" />
    <add key="AuthenticationId" value="YOUR-AUTHENTICATION-ID" />
    <add key="AuthenticationToken"
         value="YOUR-AUTHENTICATION-TOKEN" />

  </appSettings>
</configuration>